:root {
  --main-text-color: #212121;
  --main-bg-color: #fff;
  --team-bg-color: #f5f4fa;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --shadow-color: #000000;
  --hero-footer-bg-color: #2f303a;
  --slave-text-color: #fff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button-main,
.button {
  cursor: pointer;
}

/* ------HEADER------ */

.header {
  border-radius: 4px;
  border-color: #ffffff00;
  box-shadow: 0px 4px 4px #00000040;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}

.logo-span {
  color: var(--accent-color);
}

.navigation {
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 31px;
}

.navigation-list {
  display: flex;
}

.navigation-list li + li {
  padding-left: 50px;
}

.navigation-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-contacts a + a {
  margin-left: 50px;
}

/*  -----------------MAIN------------------------ */
.hero {
  background-color: var(--hero-footer-bg-color);
}

.hero .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-main {
  width: 696px;
  text-align: center;
  color: var(--slave-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 30px;
}

.button-main {
  margin-bottom: 200px;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--slave-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: #ffffff00;
  box-shadow: 0px 4px 4px #00000040;
}

/* -----------------------ADVANTAGES-------------------- */

.advantage {
  margin-top: 94px;
  margin-bottom: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantage-text {
  color: var(--second-text-color);
  line-height: 1.71;
}

.advantage-list li + li {
  margin-left: 30px;
}

/* -----WHAT WE DO----- */

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list li + li {
  margin-left: 30px;
}

/* -----------------TEAM---------------------- */

.team {
  background-color: var(--team-bg-color);
  padding-bottom: 94px;
}

.team-title {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  color: var(--main-text-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 14%);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 20%);
}

.card-description {
  background-color: var(--main-bg-color);
  width: 270px;
  height: 108px;
  margin-top: -4px;
  border-radius: 0 0 4px 4px;
}

.team-name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--main-text-color);
}

.team-description {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}

/* -----FOOTER----- */

.footer {
  background-color: var(--hero-footer-bg-color);
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--slave-text-color);
}

.logo.footer-logo {
  color: var(--slave-text-color);
  margin-top: 60px;
}

.footer-contacts {
  color: #ffffffa7;
}

.footer-contacts:hover,
.footer-contacts:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 1.71;
  font-style: normal;
  font-size: 14px;
}

.footer-address-link {
  color: var(--slave-text-color);
}

.footer-address-list li + li {
  margin-top: 9px;
}

/* -----------------------PORTFOLIO-------------------------------- */

/* -----------MAIN---------- */

.our-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}

.web-filter {
  display: flex;
  justify-content: space-between;
  width: 545px;
  margin-bottom: 4px;
}

.filter-button {
  min-height: 38px;
  font-family: inherit;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 0 22px;
}

.filter-button.all {
  padding: 0 25px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--slave-text-color);
  box-shadow: 0px 4px 4px #00000040;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-top: 20px;
}

.works-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-top: 30px;
}

.portfolio-card img {
  margin-top: -1px;
  margin-left: -1px;
}
